.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 18.75rem;
  height: .625rem;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s; 
  transition: opacity .2s;
  margin: 1.875rem 0;
  border-radius: 5px;

  &:hover {
    opacity: 1;
  }
   
  &::-moz-range-thumb {
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: pink;
    border-radius: 50%; 
    cursor: pointer;
  }  

  &::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 20px; 
    height: 20px;
    background: pink;
    border-radius: 50%; 
    cursor: pointer;
  }
}

