h1 img {
  width: 13.9375rem;
  margin-bottom: 1.5625rem;
}

.toolbar {
  margin-left: 22.5rem;
  margin-top: 10rem;
  width: 14.0625rem;

  & .clear {
    transition: all 300ms ease-in-out;
  }

  .buttons {
    gap: 1.875rem
  }
}

.sliderDiv {
  text-align: center;

  .slider {
    -webkit-appearance: none;
    appearance: none;
    width: 13.125rem;
    height: .3125rem;
    background: $bluishGray;
    outline: none;
    -webkit-transition: .2s; 
    transition: opacity .2s;
    margin: 2.8125rem 0 .625rem;
    border-radius: 5px;
  
    &:hover {
      opacity: 1;
    }
     
    &::-moz-range-thumb {
      width: .8125rem; /* Set a specific slider handle width */
      height: .8125rem; /* Slider handle height */
      background: $gunMetal;
      border-radius: 50%;
      border: none; 
      cursor: pointer;
    }  
  
    &::-webkit-slider-thumb {
      -webkit-appearance: none; 
      appearance: none;
      width: 20px; 
      height: 20px;
      border-radius: 50%; 
      cursor: pointer;
    }
  }

  .sliderValue {
    text-align: center;
  }
}

